<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="row marketing">
  <input ng-model="searchQuery">
  <h4 ng-repeat =  "header in headers | filter:searchQuery">{{header.name}} is {{header.property}}</h4>

  <p ng-repeat="foo in foos">
    <a href = "#/foos/{{foo.name}}">{{foo.name}}</a>
  </p>


  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
